* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(2.jpg);
}

header {
    background-color: rgb(255, 0, 0);
    color: black;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color:burlywood;
    width: 80%;
    height: auto;
    margin: 10px auto;
}

main section {
    margin: 20px 0px;
}

.btn-container {
    display: flex;
    justify-content: center; 
    margin: 20px 0; 
}

main section button {
    background-color: rgb(162, 96, 201);
    color: black;
    padding: 10px; 
    width: 250px;
    border: none;          
    border-radius: 20px;
    cursor: pointer;       
    font-size: 15px;      
}

main section table {
    background-color: rgb(179, 255, 0);
    border: 2px solid rgb(252, 240, 173);
    width: 100%; 
    height: auto; 
}

main section table thead tr {
    background-color: red;
    color: white;
}

main section table td:last-child {
    text-align: center; 
}

footer {
    background-color: rgb(255, 0, 0);
    color: black;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    background-color: black;
    border: 2px solid rgb(0, 0, 0);
    width: 100%; 
    height: auto; 
}
